<div class="container course"
    [ngClass]="{ 'top-rated' : course?.topRated }"
    [appHighlight] = "course.creationDate"
>
    <div class="row">
        <div class="col course__head">
            <h2 class="course__title">{{course?.title | uppercase}}</h2>
            <span *ngIf="course?.topRated">
                <fa-icon class="faIcon top-rated" [icon]="faStar"></fa-icon>
            </span>
        </div>
        <div class="col-5">
            <div class="course__info">
                <span class="course__info-duration">
                    <fa-icon class="faIcon" [icon]="faClock" size="lg"></fa-icon>
                    {{course?.duration | duration}}
                </span>
                <span class="course__info-date">
                    <fa-icon class="faIcon" [icon]="faCalendarAlt" size="lg"></fa-icon>
                    {{course?.creationDate | date:'d MMM, yyyy' }}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="course__desc">{{course?.description}}</p>
        </div>
        <div class="col-3 align-self-center">
            <div class="action-btns">
                <button (click)="editCourse($event)" type="button" class="btn btn-primary btn-sm">
                    <fa-icon class="faIcon" [icon]="faPen" size="sm"></fa-icon>
                    Edit
                </button>
                <button (click)="deleteCourse($event)" type="button" class="btn btn-primary btn-sm">
                    <fa-icon class="faIcon" [icon]="faTrash" size="sm"></fa-icon>
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>






