<div
    class="fr-field"
    [formGroup]="form"
    [ngClass]="{'has-error': (durationControl.touched || durationControl.dirty)
        && !durationControl.valid }"
>
    <div class="fr-field__wrapp">
        <div class="fr-label-required">
            <label for="duration" class="fr-label">
                {{ label }}
            </label>
            <span
                class="fr-label-required_text"
                *ngIf="durationControl.touched && durationControl.hasError('required')"
            >
                <span>* required</span>
            </span>
            <span
                class="fr-label-required_text"
                *ngIf="durationControl.touched && durationControl.hasError('positiveNumber')"
            >
                <span>* negative number</span>
            </span>
        </div>
        <input
            formControlName="duration"
            type="number"
            id="duration"
            placeholder="{{placeholder}}"
            class="input"
        >
    </div>
    <span
        class="duration"
        *ngIf="durationControl.valid"
    >{{ value.duration | duration }}</span>
</div>
