<app-breadcrumbs [items]="breadcrumbItems"></app-breadcrumbs>
<app-search (text)="find($event)"></app-search>
<div class="action-block">
    <button type="button" class="btn btn-primary" (click)="create()">
        <fa-icon class="faIcon" [icon]="faPlus" size="lg"></fa-icon>
        Add course
    </button>
</div>

<div *ngIf="coursesList$"> <!-- Как правильно сделать *ngIf? -->
    <!-- <div *ngFor="let course of coursesList | orderBy:'creationDate'"> -->
    <div *ngFor="let course of (coursesList$ | async).data"> <!-- как применить сортировку orderBy:'creationDate' -->
        <app-course
            [course]="course"
            (delete)="deleteCourse($event)"
        ></app-course>
    </div>

    <div class="container course course--load-more">
        <div class="row">
            <div class="col">
                <p><button type="button" class="btn--non-style" (click)="loadMoreCourses()">Load More</button></p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!coursesList$"> <!-- Как правильно сделать *ngIf? -->
    <div class="container course course--no-data">
        <div class="row">
            <div class="col">
                <p>No data. Feel to add new course.</p>
            </div>
        </div>
    </div>
</div>

<p *ngIf="(coursesList$ | async).error as value">{{ value }}</p>
