<app-breadcrumbs [items]="breadcrumbItems"></app-breadcrumbs>
<app-search (text)="find($event)"></app-search>
<div class="action-block">
    <button type="button" class="btn btn-primary" (click)="create()">
        <fa-icon class="faIcon" [icon]="faPlus" size="lg"></fa-icon>
        Add course
    </button>
</div>

<div *ngIf="coursesList.length">
    <div *ngFor="let course of coursesList | orderBy:'creationDate'">
        <app-course [course]="course" (delete)="deleteCourse($event)" (edit)="edit($event)"></app-course>
    </div>

    <div class="container course course--load-more">
        <div class="row">
            <div class="col">
                <p><button type="button" class="btn--non-style" (click)="loadMoreCourses($event)">Load More</button></p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!coursesList.length">
    <div class="container course course--no-data">
        <div class="row">
            <div class="col">
                <p>No data. Feel to add new course.</p>
            </div>
        </div>
    </div>
</div>



