<app-search></app-search>
<div class="action-block">
    <button class="btn btn-primary">
        <fa-icon class="faIcon" [icon]="faPlus" size="lg"></fa-icon>
        Add course
    </button>
</div>
<div *ngFor="let course of courses">
    <app-course [course]="course" (delete)="deleteCourse($event)"></app-course>
</div>

<div class="container course course--load-more">
    <div class="row">
        <div class="col">
            <p><a href="" (click)="loadMoreCourses($event)">Load More</a></p>
        </div>
    </div>
</div>
