<div
    class="fr-field"
    [formGroup]="form"
    [ngClass]="{'has-error':(dateFieldControl.touched || dateFieldControl.dirty)
        && !dateFieldControl.valid }"
>
    <div class="fr-field__wrapp">
        <div class="fr-label-required">
            <label for="date" class="fr-label">
                {{label}}
            </label>
            <span
                class="fr-label-required_text"
                *ngIf="dateFieldControl.touched && dateFieldControl.hasError('required')"
            >
                <span>*required</span>
            </span>
        </div>
        <input
            formControlName="creationDate"
            type="date"
            id="date"
            placeholder="{{placeholder}}"
            class="input"
        >
    </div>
</div>
