<main class="page">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-breadcrumbs [items]="breadcrumbItems"></app-breadcrumbs>
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="course-create">
                            <div class="pg-element">
                                <h1 class="title">{{id ? 'Edit course' : 'New course'}}</h1>
                                <form action="" [formGroup]="courseForm" (ngSubmit)="save()">
                                    <div class="fr-field"
                                        [ngClass]="{'has-error': hasError('title') }"
                                    >
                                        <div class="fr-field__wrapp fr-field__wrapp--full-width">
                                            <div class="fr-label-required">
                                                <label for="title" class="fr-label">Title:</label>
                                                <span
                                                    class="fr-label-required_text"
                                                    *ngIf="hasError('title')"
                                                >
                                                    <span *ngIf="courseForm.get('title').hasError('required')">
                                                        *required
                                                    </span>
                                                    <span *ngIf="courseForm.get('title').hasError('maxlength')">
                                                        *max length 50
                                                    </span>
                                                </span>
                                            </div>
                                            <input
                                                type="text"
                                                id="title"
                                                placeholder="{{placeholder.title}}"
                                                class="input"
                                                formControlName="title"
                                            >
                                        </div>
                                    </div>
                                    <div class="fr-field"
                                        [ngClass]="{'has-error': hasError('description') }"
                                    >
                                        <div class="fr-field__wrapp fr-field__wrapp--full-width">
                                            <div class="fr-label-required">
                                                <label for="description" class="fr-label">Description:</label>
                                                <span
                                                    class="fr-label-required_text"
                                                    *ngIf="hasError('description')"
                                                >
                                                    <span *ngIf="courseForm.get('description').hasError('required')">
                                                        *required
                                                    </span>
                                                    <span *ngIf="courseForm.get('description').hasError('maxlength')">
                                                        *max length 500
                                                    </span>
                                                </span>
                                            </div>
                                            <textarea
                                                id="description"
                                                class="input"
                                                placeholder="{{placeholder.description}}"
                                                formControlName="description"
                                            ></textarea>
                                        </div>
                                    </div>

                                    <app-duration-field
                                        placeholder="{{placeholder.duration}}"
                                        label="Duration"
                                        formControlName="duration"
                                    ></app-duration-field>

                                    <app-date-field
                                        placeholder="{{placeholder.creationDate}}"
                                        label="Date"
                                        formControlName="creationDate"
                                    ></app-date-field>

                                    <app-author-field
                                        placeholder="{{placeholder.authors}}"
                                        label="Authors"
                                        formControlName="authors"
                                        [isInvalid]="hasError('authors')"
                                    ></app-author-field>

                                    <div class="action-btns">
                                        <button (click)="cancel()" class="btn btn-secondary" type="button">Cancel</button>
                                        <button
                                            class="btn btn-success"
                                            type="submit"
                                            [disabled]="!courseForm.valid"
                                        >Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
