<main class="page">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-breadcrumbs [items]="breadcrumbItems"></app-breadcrumbs>
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="course-create">
                            <div class="pg-element">
                                <h1 class="title">{{id ? 'Edit course' : 'New course'}}</h1>
                                <form action="" [formGroup]="courseForm" (ngSubmit)="save()">
                                    <div
                                        class="fr-field"
                                        [ngClass]="{'has-error': (courseForm.get('title').touched || courseForm.get('title').dirty) && !courseForm.get('title').valid }"
                                    >
                                        <div class="fr-field__wrapp fr-field__wrapp--full-width">
                                            <div class="fr-label-required">
                                                <label for="title" class="fr-label">Title:</label>
                                                <span
                                                    class="fr-label-required_text"
                                                    *ngIf="(courseForm.get('title').touched || courseForm.get('title').dirty) && courseForm.get('title').errors"
                                                >
                                                    <span *ngIf="courseForm.get('title').hasError('required')">
                                                        *required
                                                    </span>
                                                </span>
                                            </div>
                                            <input
                                                type="text"
                                                id="title"
                                                placeholder="Entry course title"
                                                class="input"
                                                maxlength="50"
                                                required
                                                formControlName="title"
                                            >
                                        </div>
                                    </div>
                                    <div class="fr-field">
                                        <div class="fr-field__wrapp fr-field__wrapp--full-width">
                                            <div class="fr-label-required">
                                                <label for="description" class="fr-label">Description:</label>
                                                <span class="fr-label-required_text">*required</span>
                                            </div>
                                            <textarea
                                                id="description"
                                                class="input"
                                                placeholder="Entre description"
                                                maxlength="500"
                                                required
                                                formControlName="description"
                                            ></textarea>
                                        </div>
                                    </div>
                                    <div class="fr-field">
                                        <div class="fr-field__wrapp">
                                            <div class="fr-label-required">
                                                <label for="duration" class="fr-label">Duration:</label>
                                                <span class="fr-label-required_text">*required</span>
                                            </div>
                                            <input
                                                type="number"
                                                id="duration"
                                                placeholder="Entry duration"
                                                class="input"
                                                required
                                                formControlName="duration"
                                            >
                                        </div>
                                        <span class="duration">{{ model.duration | duration }}</span>
                                    </div>
                                    <div class="fr-field">
                                        <div class="fr-field__wrapp">
                                            <div class="fr-label-required">
                                                <label for="date" class="fr-label">Date:</label>
                                                <span class="fr-label-required_text">*required</span>
                                            </div>
                                            <input
                                                type="text"
                                                id="date"
                                                placeholder="Entry date"
                                                class="input"
                                                required
                                                formControlName="creationDate"
                                            >
                                        </div>
                                    </div>
                                    <div class="fr-field">
                                        <div class="fr-field__wrapp fr-field__wrapp--full-width">
                                            <div class="fr-label-required">
                                                <label for="authors" class="fr-label">Authors:</label>
                                                <span class="fr-label-required_text">*required</span>
                                            </div>
                                            <input
                                                type="text"
                                                id="authors"
                                                placeholder="Entry authors"
                                                class="input"
                                                required
                                                formControlName="authors"
                                            >
                                        </div>
                                    </div>
                                    <div class="action-btns">
                                        <button (click)="cancel()" class="btn btn-secondary" type="button">Cancel</button>
                                        <button
                                            class="btn btn-success"
                                            type="submit"
                                            [disabled]="!courseForm.valid"
                                        >Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
