.course-create {
    padding-top: 40px;
}

.course-create .input {
    width: 100%;
}

.course-create .input[name="duration"] {
    width: auto;
}

.course-create .duration {
    padding-left: 12px;
}


.course-create textarea {
    resize: vertical;
    min-height: 118px;
    max-height: 197px;
}

.course-create .action-btns {
    display: flex;
    justify-content: flex-end;
}

.course-create .btn-secondary {
    margin-right: 12px;
}

.has-error .fr-label-required_text {
    font-size: 14px;
    color: #dc3545;
}

.has-error .input.ng-invalid.ng-touched {
    border: 1px solid #dc3545;
}
