.login {
    border-radius: 8px;
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
    background-color: #ffffff;
    margin-bottom: 25px;
    padding: 25px 25px 30px;
    border: 3px solid transparent;
    display: inline-block;
    width: 370px;
}

.login-wrapp {
    display: flex;
    justify-content: center;
}

.login-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.login-lable {
    display: block;
    font-weight: 600;
    letter-spacing: 0.22px;
    margin-bottom: 4px;
}

.login-field {
    margin-bottom: 17px;
}

.login .btn--non-style {
    text-transform: none;
}

.login-btns {
    display: flex;
    justify-content: space-between;
}

.login .input {
    width: 100%;
}

.page {
    padding-top: 25px;
}

