@import '~bootstrap/dist/css/bootstrap-grid.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #2c2f3c;
    height: 100%;
}

a {
    color: #577ce6;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
    flex: 1 0 auto;
    background-color: #f2f3f7;
}

.footer {
	flex: 0 0 auto;
}

.btn {
    border-radius: 3px;
    border: 1px solid transparent;
    color: #ffffff;
    padding: 8px 22px;
    background-color: #2c2f3c;
}

.btn--non-style {
    padding: 3px 15px;
    border: none;
    background: none;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
    color: #577ce6;
    font-size: 12px;
}

.btn-sm {
    font-size: 12px;
    padding: 5px 16px;
}
.btn-lg {
    padding: 10px 22px;
    font-size: 18px;
}

.btn-success {
    background-color: #9bc837;
    border: 1px solid #9bc837;
}

.btn-primary {
    background-color: #30b6dd;
    border: 1px solid #30b6dd;
}

.input {
    padding: 7px 12px;
    border: 1px solid #d9dbe3;
    border-radius: 3px;
    background-color: #ffffff;
}

.input-lg {
    padding: 14px 22px;
}
