<div class="user-info__wrapp" >
    <ng-container *ngIf="authService.isAuthenticated()">
        <span class="user-info user-login">
            <fa-icon class="faIcon" [icon]="faUser"></fa-icon>
            {{ userName | async }}
        </span>
        <span class="user-info user-logout" (click)="logout()">
            <fa-icon class="faIcon" [icon]="faSignOutAlt"></fa-icon>
            <span type="button">Log off</span>
        </span>
    </ng-container>
    <ng-container *ngIf="!authService.isAuthenticated()">
        <span class="user-info user-logout" (click)="login()">
            <fa-icon class="faIcon" [icon]="faSignOutAlt"></fa-icon>
            <span type="button">Log in</span>
        </span>
    </ng-container>
</div>
